xset s off -dpms &
sxhkd &
setxkbmap -layout us,ara -variant ,digits grp:menu_toggle caps:swapescape &
#setxkbmap -layout us,ara -variant ,digits grp:menu_toggle grp:ralt_rshift_toggle grp:sclk_toggle caps:swapescape &
picom &
#xinput set-prop 'SIGMACHIP Usb Mouse' 'libinput Accel Profile Enabled' 0 1 0 &
#xinput set-prop 'SIGMACHIP Usb Mouse' 'libinput Accel Speed' -0.2 &
numlockx &
feh --bg-scale Downloads/car.jpeg &
xrandr --output HDMI-1 --brightness 0.6 &
udiskie -a &
copyq &
flameshot &
nm-applet &
